*.o
*.d
*.so
*~
*.project
*.pdf
*.png
log_*
.nfs*
*.avi
world_generator/_world.pyc
misc/matrix/linux*
misc/log/linux*
misc/gauss/linux*
misc/log/linux*
misc/history/linux*
misc/*.a
MyLib/config
controllers/sf_swimming_controller/sf_swimming_controller
controllers/pos_control_swimming_controller/pos_control_swimming_controller
